[Desktop Entry]
Name=FREE CIVilization server console
Name[pl]=Konsola serwera gry FREE CIVilization
Comment=Free Civilization clone game server console
Comment[pl]=Konsola serwera niekomercyjnego klonu gry Civilization
Exec=xterm -T 'Free civilization server console' -e /usr/X11R6/bin/civserver
Terminal=0
Type=Application
