[Desktop Entry]
Name=freeciv
Name[ja]=フリーシヴ
Comment=Free Civilization clone game
Comment[ja]=シヴィライゼーションII風味なゲイム
Comment[pl]=Niekomercyjny klon gry Civilization
Exec=civclient
Icon=freeciv.gif
Terminal=0
Type=Application
