[Desktop Entry]
Name=Freeciv server
Name[pl]=Serwer freeciv
Comment=Free Civilization clone game server console
Comment[pl]=Konsola serwera niekomercyjnego klonu gry Civilization
Exec=civserver
Icon=freeciv
Terminal=true
Type=Application
Categories=GTK;Game;StrategyGame;
# vi: encoding=utf-8
