[Desktop Entry]
Name=FREE CIV server
Name[pl]=Serwer FREE CIV
Comment=Free Civilization clone game server console
Comment[pl]=Konsola serwera niekomercyjnego klonu gry Civilization
Exec=civserver
Icon=freeciv.png
Terminal=1
Type=Application
# vi: encoding=utf-8
